@media (max-width: 320px) {

    body {
        padding-top: 50px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .headerLeft {
        display: flex;
        flex: 5;
        justify-content: space-around;
        width: 100%;
    }

    .headerLeft img {
        width: 15%;
        height: auto;
        margin-left: 1rem;
        margin-right: 1.2rem;
    }

    .Title {
        flex: 3;
        margin-top: 10px;
        text-align: left;
        margin-bottom: 10px;
    }

    .Title span {
        font-size: 18px;
    }

    .Title a {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .headerRight {
        flex: 1;
        justify-content: right;
        width: 100%;
    }

    #menu {
        display: block;
        cursor: pointer;
        font-size: 24px;
        margin-top: -7px;
        background-color: darkorange;
        border: none;
        outline: none;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .navigation {
        position: fixed;
        height: 100%;
        width: 40%;
        background-color: darkorange;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        transition: right 0.3s ease;
        z-index: 1000;
        margin-right: -590px;
        margin-top: 46px;
    }

    .navigation.open {
        right: 0;
        display: flex;
        padding-top: 50px;
        margin-right: 0px;
        margin-top: 46px;
    }

    .navigation a {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 20px;
        color: white;
        border-bottom: none;
        margin-left: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        background-color: black;
        color: darkorange;
    }

    .address {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }

    .authority {
        margin: 10px 0;
    }

    .snsIcon {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .snsIcon img {
        height: 50px;
    }

    .authority {
        margin-right: 0;
        text-align: center;
    }
}